.navbar {
  background-color: #343a40;
  color: #0c133f;
  font-size: 1rem;
  padding: 10px 0;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none !important;
}

.nav-link {
  color: #fff !important;
  font-weight: 500;
  margin-right: 15px;
  text-decoration: none !important;
  transition: color 0.2s ease-in-out;
}

.nav-link:hover {
  color: #ffc107 !important;
}

.navbar-toggler-icon {
  background-color: #fff;
}

.navbar-nav .nav-item .dropdown-menu {
  background-color: #343a40;
  border: none;
}

.nav-item .dropdown-menu .dropdown-item {
  color: #fff !important;
}

.nav-item .dropdown-menu .dropdown-item:hover {
  background-color: #6c757d;
  color: #fff !important;
}

.nav-link.logout-button {
  color: #dc3545 !important;
}

.nav-link.logout-button:hover {
  color: #ff0000 !important;
}
