.transaction-tiles {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-left: 20px;
}

h3 {
  padding-left: 20px;
  color: black;
}

.transaction-tile {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: auto; 
  height: 80px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.9rem; 
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}


.transaction-tile:hover {
  background-color: #e0e0e0;
}

.transaction-email {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.my-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.my-button:hover {
  background-color: #0056b3;
}

.my-paragraph {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}
